<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    {% load static %}
    <link href="{% static 'stylep.css' %}" rel="stylesheet" type="text/css" media="all" />
    {% load static %}
    <link href="{% static 'font-awesome.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,500&display=swap" rel="stylesheet">
    <title>Mazadi | Profile</title>
</head>

<body>
    <div class="circle-white">
        <a href="{% url 'home_user' %}">
            {% load static %}
            <img src="{% static 'Resources\arrow.png' %}" id="arrow">
        </a>
    </div>

    <div id="loop">
        {% load static %}
        <img src="{% static 'Resources\loop.png' %}" alt="">
    </div>
    <div id="star">
        {% load static %}
        <img src="{% static 'Resources\star.png' %}" alt="">
    </div>

    <div id="talk">
        {% load static %}
        <img src="{% static 'Resources\talk.png' %}" alt="">
    </div>
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-head">
                        <h1>
                            Username
                        </h1>
                        <h6>
                            Profile
                        </h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'encheres' %}" class="btnn">Voir articles mits aux enchères</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>INFORMATIONS</p>
                        <a href="">Email@gmail.com</a><br/>
                        <a href="">Age</a><br/>
                        <a href="">Localisation</a>
                        <p>DESCRIPTION</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam quos explicabo animi officiis similique est dignissimos consectetur. Natus voluptates qui eveniet nam adipisci ipsa dignissimos vitae, architecto necessitatibus
                            vero, sint molestiae in tenetur fuga! Consequatur doloremque fuga ad soluta neque totam amet mollitia quod id facilis. Placeat tempora neque harum voluptas reiciendis, earum asperiores expedita laboriosam non ratione aliquam,
                            at amet odio consequatur unde facilis repellendus vitae in. Facere mollitia praesentium est nostrum tenetur itaque? Tenetur alias ducimus maxime repellendus, culpa ratione, quasi ab, magni debitis iure expedita? Tempore sed
                            doloremque exercitationem distinctio deserunt accusamus dolore magni. Quis, perferendis.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>



</body>

</html>